.card-roxo-button {
    font-size: 16px;
        text-align: center;
        margin-top: 10px;
        border-radius: 25px;
        background-color: rgb(163, 41, 163);
        cursor: pointer;
        padding: 10px;
}